@import "tailwindcss";

@theme {
  --font-Bakh: Bakh;
  --font-Peyda: Peyda;
}

@font-face {
  font-family: Bakh;
  font-style: normal;
  font-weight: 200 700;
  src: url("./assets/fonts/bakh/YekanBakhVF.ttf") format("woff2");
}
@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/peyda/PeydaWeb-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/peyda/PeydaWeb-Medium.woff2") format("woff2");
}
@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/peyda/PeydaWeb-Bold.woff2") format("woff2");
}
@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/peyda/PeydaWeb-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: Peyda;
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/peyda/PeydaWeb-Black.woff2") format("woff2");
}

@layer base {
  body {
    font-family: Peyda;
  }
}
